body {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        background-color: #263238;
        font-family: normal x-small verdana, arial, helvetica, sans-serif;
        color: #b2ccd6;
    }
    
    .key {
        background-color: #263238;
        color: #ffcb6b;
    }
    
    input,
    textarea {
        padding: 5px;
        border: solid 1px #dcdcdc;
        transition: box-shadow 0.3s, border 0.3s;
        background-color: #263238;
        color: #89ddff;
    }
    
    input,
    textarea.focus {
        border: solid 1px #707070;
        box-shadow: 0 0 1px 1px #969696;
    }
    
    .button {
        color: #89ddff;
    }